<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>CRUD Dinos</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<nav>
		<a href="/dinosaurs/new">MAKE A DINO</a> | 
		<a href="/dinosaurs">WITNESS MUH DINOS</a> |
		<a href="/">HOME</a>
	</nav>



	<%- body %>
	<script src="/js/script.js"></script>
</body>
</html>